/* колір основного тексту  #757575;*/
/* вторичний колір #212121;*/
/* колір фону #F5F5F5;*/
/* білий колір #FFFFFF;*/ 
/* акцент #2196F3;*/
/* колір контактів rgba(255, 255, 255, 0.6);*/

:root {
    --primary-color: #757575;
    --link-color: #212121;
    --secondary-text-color: #212121;
}
body {
    font-family: 'Roboto', sans-serif; 
    color: var(--primary-color)
    var(--secondary-text-color)
    text-decoration: none;
    font-weight: 500;
    font-style: normal;
    margin: 0;
    
}

html {
    box-sizing: border-box;
}

*,
*::before
*::after {
    box-sizing: inherit;
}

a {
    font-weight: 500;
    text-decoration: none; 
    font-size: 14px;
    line-height: 1.1;
}

ul {
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    
}

.link:hover {
    color: #2196F3;
}

.link:focus {
    color: #2196F3;
}   

.nav-link:hover {
    color: #2196F3;
}

.nav-link:focus {
    color: #2196F3;
}

.nav {

    background-color: #FFFFFF;
    display: flex;
    margin-left: 93px;
}

.nav .li {
    margin-right: 50px;

}
.nav-link-portfolio  {
    color: #212121;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.nav-link-portfolio:hover {
    color: #2196F3;
}

.nav-link-portfolio:focus {
    color: #2196F3;
}

.link-tel {
    color: #757575;
    display: flex;
}

.link-tel:hover {
    color: #2196F3;
}

.footer-link:hover {
    color: #2196F3;
}

.footer-link:focus {
    color: #2196F3;
}

.logo-link {
color: #2196F3;
text-decoration: none;
font-size: 26px;
line-height: 1.2;
font-weight: 700;

}

.logo-header {
    color: black;
    font-size: 26px;
    line-height: 1.2;
    font-weight: 700;
}

.logo-header-footer {
    color: #FFFFFF;
    line-height: 1.1;
}

.link {
    color: #212121;
    text-decoration: none; 
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    
    }
    
.nav-link {
    color: #212121;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.1;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.nav .nav-link.current {
    color: #2196F3;
}

.nav .nav-link-portfolio.current {
    color: #2196F3;
}


.section-hero {
    background: #2F303A;
    height: 600px;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}

.title-hero {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.section-title {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
     text-transform: uppercase;

    display: flex;
    flex-wrap: wrap;
}

.section-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
    width: 270px;

}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
        
}

.ul-persons {
    background: #F5F4FA;
}

.persons {
background: #FFFFFF;
margin-right: 30px;
}

.persons:nth-child(4n){
margin-right: 0;

}


.title-person {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

    padding-top: 30px;
}

.title-person-detail {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;

    padding-top: 10px;
    padding-bottom: 30px;

}


.section-btn {
    display: inline-block;
    color:var(--secondary-text-color);
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    background: #F5F4FA;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    display: flex;

    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
        
}

.all-button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 25px;
    padding-right: 25px;
}

.section-btn:hover {
background: #2196F3;

}

.section-btn:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}


.section-btn-all {
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
}

.section-btn-all:hover {
    color: #008000;
   
}

.section-btn-all:focus {
    color: rgb(223, 154, 26);
}

.title-work {
    color: #212121;
    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
   
}

.work-all {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.0;
    color: #757575;

    padding-top: 4px;
}

.section-background {
    background-color: #FFFFFF;
}

/*footer*/
.footer-color {
    background-color:#2F303A;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;

}

.footer-link {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.address-link {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    }

    .address-li {
      
    }

.header-btn {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: #FFFFFF;
    cursor: pointer; 
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    border-radius: 4px;
    --width: 216px;
    height: 50px;
    left: 692px;
    top: 430px;
    border-color: #2196F3;
    padding: 10px 32px;


}

.container {
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 94px;
    
}

h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}


p {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
}
h1 {
    padding-top: 200px;
    
    padding-left: 452px;
    padding-right: 452px;
    
}

.button {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.div-button {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}

.section-hero > li {
    margin-bottom: 94px;
    
}
    

.logo-link, .logo-header {
display: inline-block;
}

.section-background .section-btn {
display: block;
margin-right: 8px;
margin-bottom: 34px;

}


.li .section-btn {
    display: flex;
}

.page-header { 
    display: flex;
    align-items: center;
}

.li-item {
    display: flex;
    margin-left: auto;
}

.item-tel {
    margin-left: auto;
}

.li-item .item + .item {
    margin-left: 50px;
}

.nav .nav-item + .nav-item {
    margin-left: 50px;
}

.nav .item+.item {
    margin-left: 50px;
}

.main-nav {
    display: flex;
    align-items: center;
}

.button .item + .item {
    margin-left: 8px;
}

.container-ul {
   display: flex;
   flex-wrap: wrap;
   padding-left: 0;
}

.text {
   display: flex;
   flex-wrap: wrap;

}

.title-section {
   
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 118px;
   width: 1230px;
   padding-left: 15px;
   padding-right: 15px;
   
}

.flex-container {
width: 370px;
margin-right: 30px;
display: flex;
flex-wrap: wrap;
}

.flex-container:nth-child(3n) {
    margin-right: 0;
}

h1 {
    margin-bottom: 30px;
}

.container-text {
    
    display: flex;
    flex-wrap: wrap;
    margin-top: 94px;
   
}

.title-section-ul-text {
    display: flex;
    flex-wrap: wrap;
    
    padding-left: 0;

}

.title-section-li {
    margin-right: 30px;
}

.title-section-li:nth-child(4n) {
    margin-right: 0;
}

.container-img {
    display: flex;
    flex-wrap: wrap;
    width: calc(100 / 3);
    padding-left: 15px;
       
}

.container-img-item {
    margin-right: 30px;
    height: 294px;
       
}

.container-img-item:nth-child(3n) {
    margin-right: 0;
}

.ul-persons {
    display: flex;
    flex-wrap: wrap;
    width: calc(100 / 4);
    padding-left: 0;
    margin-left: 200px;
    margin-right: 200px;
    padding-bottom: 94px;
   
}

.container-persons { 
   width: 1600px;
   
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
      background-color: #F5F4FA;
}

.container-footer {
    margin-left: 215px;
   
}

.footer-ul {
padding-left: 0;
}

.address {
    margin-top: 60px;
    margin-bottom: 20px;
}

.address-li {
    margin-bottom: 9px;
}

.address-lin {
    padding-bottom: 60px;
}

.our-title {
    padding-top: 94px;
}

.flex-container-img {
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}